#cards-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

.card {
    max-height: 200px;
    width: 100px;
    /* background-color: lightcoral; */
    margin: 20px;
    flex-grow: 1;
}

.card-cover {
    max-height: 100%;
}

.card-face {
    display: none;
    height: 200px;
}

.card-face img {
    max-height: 100%;
}