.card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
}

.card {
    background-color: aqua;
    height: 200px;
    width: 100px;
    background-color: lightcoral;
    margin: 20px;
}